@using MovieManagement.ViewModel
@model MovieViewModel
@{
	ViewData["Title"] = "Add new movies";
}


<h1>
	Add new movies
</h1>
<form class="row g-3" asp-controller="Movie" asp-action="Add" method="post">
  
  <div class="col-md-6">
    <label class="form-label" asp-for="Name">Name</label>
    <input class="form-control" asp-for = "Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="col-md-4">
    <label class="form-label" asp-for="LengthInMin">LengthInMin</label>
    <input class="form-control" asp-for = "LengthInMin">
    <span asp-validation-for="LengthInMin" class="text-danger"></span>
  </div>
  <div class="col-md-4">
    <label class="form-label" asp-for="ReleaseDate">Release Date</label>
    <input class="form-control" asp-for = "ReleaseDate">
    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
   </div>
  <div class="col-md-4">
    <label class="form-label" asp-for="Genre"></label>
    <select class="form-control" asp-for="Genre" asp-items="Model.Genres"></select>
    <span class="text-danger" asp-validation-for="Genre"></span>
  </div>
  <div class="col-md-12">
        <label asp-for="Banner" class="form-label">Select Banner</label>
        <input class="form-control" asp-for="Banner">
    </div>
  <div class="col-12">
    <label class="form-label" asp-for="Description">Description</label>
    <textarea class="form-control" asp-for = "Description"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
