
@model Movie
@{
	ViewData["Title"] = "Update movies";
}

@{
    List<SelectListItem> genres = new();
    genres.Add(new SelectListItem() { Text = "Select genre", Value = "Comedy" });
    genres.Add(new SelectListItem() { Text = "Comedy", Value = "Comedy" });
    genres.Add(new SelectListItem() { Text = "Science Friction", Value = "Science Friction" });
    genres.Add(new SelectListItem() { Text = "Action", Value = "Action" });
}

 <h1>
	Update the required fields
 </h1>


 <form class="row g-3" asp-controller="Movie" asp-action="Update" method="post">
      <div class="col-md-6">
        <label class="form-label" asp-for="Name">Name</label>
        <input class="form-control" asp-for = "Name">
      </div>
      <div class="col-md-6">
        <label class="form-label" asp-for="Code">Code</label>
        <input class="form-control" asp-for = "Code" readonly>
      </div>
      <div class="col-md-4">
        <label class="form-label" asp-for="LengthInMin">LengthInMin</label>
        <input class="form-control" asp-for = "LengthInMin">
      </div>
      <div class="col-md-4">
        <label class="form-label" asp-for="ReleaseDate">Release Date</label>
        <input class="form-control" asp-for = "ReleaseDate">
       </div>
      <div class="col-md-4">
        <label class="form-label" asp-for="Genre">Genre</label>
        <select class="form-control" asp-for="Genre" asp-items="genres"></select>
      </div>
      <div class="col-12">
        <label class="form-label" asp-for="Description">Description</label>
        <textarea class="form-control" asp-for = "Description"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-danger">Confirm Update</button>
      </div>
 </form>

  

